* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: verdana;
}

.langingSection {
	padding-bottom: 400px;
    width: 100%;
    margin: 0px;
	background-color: #203640;
	margin-top: 0px;
	background-image: url('/images/pastormuyiwaUpdated.jpg');
	background-size: cover;
}

.langingSection h3 {
	text-align: center;
	margin: auto;
	color: white;
	width: 100%;
}
#titleMami {
	padding-top: 250px;
	text-align: center;
	margin-top: 0px;
	margin: auto;
	color: white;
	font-weight: bold;
}

.landingCover {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 3;
	background-color: #203640;
	padding-top: 250px;
	padding-bottom: 350px;
}

#enterButton {
	width: 100px;
	border: 5px solid orange;
	color: white;
	text-align: center;
	margin: auto;
	padding-top: 37px;
	padding-bottom: 37px;
	border-radius: 50%;
	cursor: pointer;
}

#entercaption {
	margin: auto;
	padding: 10px;
	color: white;
	text-align: center;
}

.row {
    margin: 0px;
}

.mainCongratesMessage {
	padding-top: 50px;
	padding-bottom: 100px;
	border-top: 1px solid white;
	background-color: #203640;
}

.mainCongratesMessage p, .mainCongratesMessage h3, .mainCongratesMessage h1 {
	color: white;
}

 .mainCongratesMessage h1 {
	font-weight: bold;
}
.mainCongratesMessage button {
	border: 1px solid white;
	background-color: green;
	padding: 1px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 5px;
	color: white;
	margin-top: 100px;
}

.invisibleSection {
	border-top: 1px solid white;
	background-color: #203640;
	color: #235C75;
}

.congratulationsMessage {
	background-color: #203640;
	display: none;
}

.mainCongratesMessage p{
	font-family: verdana;
	font-size: 16px;
}

.fa {
	border-radius: 5px;
	font-size: 40px;
	border: 1px solid white;
	color: green;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px;
}

.navigationRightSide {
	border-left: 2px solid white;
	position: absolute;
	top: 80px;
	left: 80%;
	z-index: 2;
	float: right;
	width: 20%;
	background-color: #203640;
	padding: 10px;
	padding-bottom: 100px;
}

.navigationRightSide a {
    text-decoration: none;
    color: white;
}

.navigationRightSide ul li {
	list-style-type: none;
	color: white;
	padding: 10px;
	cursor: pointer;
}
.navigationRightSide ul li:hover {
	color: white;
	background-color: black;
	border: 1px solid white;
	border-radius: 5px;
}

.navigationRightSide ul{
   
}

.firstEvent img, .secondEvent img, .thirdEvent img, .fouthEvent img {
	width: 95%;
	border: 1px solid black;
    margin: auto;
}

.firstEvent, .secondEvent, .fouthEvent, .thirdEvent {
	padding: 10px;
	padding-left: 6%;
}

.firstEvent p, .secondEvent p, .fouthEvent p, .thirdEvent p {
	width: 95%;
}

.aboutSection video {
	padding-left: 3%;
	width: 95%;
	margin-bottom: 50px;
}

.aboutSection {
	width: 100%;
}

.listofministries  ul {
	list-style-type: none;
	margin: auto;
    text-align: center;
}

.listofministries  ul li {
	margin-bottom: 10px;
	border: 1px solid #d9edf7;
	padding: 30px;
}

.listofministries  ul li:hover {
    background-color: #d9edf7;
    cursor: pointer;
}

.discriptionOfPartnerShip {
	padding: 10px;
	border: 1px solid #d9edf7;
	margin-bottom: 10px;
}

.discriptionOfPartnerShip button {
	padding: 1px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid orange;
	color: white;
	background-color: #203640;
	border-radius: 5px;
}

#mamiIdentity {
	width: 100%;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	font-size: 20px;
	border-bottom: 2px solid orange;
}

.mamiPlatForms {
    background-color:#d9edf7;
    padding: 10px;
    font-weight: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    border: 1px solid #d9edf7;
    border-top: 25px solid silver;
    border-top-left-radius: 4px;
    display: none;
}

.largerContact {
	padding-top: 50px;
	width: 100%;
	background-image: url('/images/contactingUs.jpg');
	background-size: cover;
	padding-bottom: 100px;
}

.contactForm {
	/*background-color: rgb(0,0,0); /* Fallback color */
   /* background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
   margin-top: 150px;
	width: 100%;
}

.contactForm input, .contactForm input:nth-child(2), .contactForm textarea, .contactForm label {
	width: 95%;
	padding: 7px;
	border: 1px solid white;
	background-color: transparent;
	margin-bottom: 10px;
	color: white;
	border-radius: 3px;
}

.contactForm label {
	text-align: center;
	background-color: green;
	border: 1px solid orange;
}

.contactForm textarea {
	height: 150px;
}

.contactForm button {
	padding: 1px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
	background-color: green;
    border: 1px solid orange;
    border-radius: 5px;
}

.contactForm form {
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
	width: 40%;
	padding-left: 2%;
	padding-top: 50px;
	padding-bottom: 50px;
    margin-left: 55%;
    margin-right: 5%;
}

.largerContact h3 {
	width: 40%;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	margin-left: 30%;
	margin-bottom: 50px;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.downloadSection {
    background-image: url('/images/downloadBackground.jpg');
    background-size: cover;
    padding-bottom: 100px;
}

.messageAdvert img {
     margin: auto;
     width: 80%;
}

.triggerFlex {
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   border: 1px solid #eeeeee;
}

#firstpayment:hover, #secondpayment:hover {
    border: 1px solid cadetblue;
}

.smallerContact {
	width: 95%;
	margin-left: 2.5%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url('/images/requestimage.jpg');
}

.triggerFlex div {
	padding-top: 20px;
	width: 45%;
	margin-left: 3%;
}

.triggerFlex img {
	width: 100%;
}

#inputCover {
	width: 70%;
	margin-left: 15%;
	padding-top: 20px;
	margin-top: 20px;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

#searchMessages {
	width: 90%;
	padding: 10px;
	background-color: transparent;
	color: white;
	font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 6%;
}

#availableMessages {
	background-color: green;
	color: white;
	width: 63%;
	padding: 15px;
	border: 1px solid white;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-left: 19.2%;
}

.listOfMessages {
	width: 63%;
	margin-left: 19.2%;
	background-color: white;
}

.messagelist {
	margin-top: 10px;
}
.listOfMessages ul {
	list-style-type: none;
	width: 100%;
}

.listOfMessages ul li {
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
	padding-left: 10px;
}

.listOfMessages span {
	background-color: green;
	color: white;
	border-radius: 5px;
	border: 1px solid orange;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.listOfMessages {
	z-index: 2;
	position: absolute;
}

.forMobileDevice {
	padding-top: 30px;
	padding-bottom: 300px;
	background-color:  #203640;
}

.forMobileDevice ul {
	width: 100%;
}

.forMobileDevice ul li {
	width: 100%;
	padding: 7px;
	padding-left: 20px;
	color: white;
	margin-bottom: 5px;
	margin-top: 5px;
}

.forMobileDevice span {
	background-color: green;
	color: white;
	border-radius: 5px;
	border: 1px solid orange;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.OptionClass {
    background-color: white;
    color: black;
    padding: 10px;
}

.partnersForm input, .partnersForm label, .partnersForm select {
     width: 90%;
     margin-left: 5%;
     border: 1px solid #d9edf7;
     border-radius: 5px;
     color: default;
     margin-bottom: 10px;
     padding: 10px;
}

.partnersForm button {
	border: 1px solid orange;
	color: white;
	background-color: green;
	padding: 1px;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 10px;
	border-radius: 5px;
	margin-left: 5%;
}

#refreshForm {
	border: 1px solid orange;
	color: white;
	background-color: #203640;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 10px;
	border-radius: 5px;
	margin-left: 5%;
}

.inputTitle {
	margin-left: 5.5%;
}

.partnersForm {
	padding-top: 40px;
	padding-bottom: 20px;
	border: 1px solid #eeeeee;
	width: 95%;
}

.onlinePaymentPlatforms {
	width: 100%;
}

.onlinePaymentPlatforms button {
	width: 100%;
	margin-top: 10px;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid orange;
	color: white;
	background-color: #31708f;
}

.onlinePaymentPlatforms img {
	width: 100%;
	margin-bottom: 10px;
}

.partnersForm label{
	background-color: #31708f;
	color: white;
	text-align: center;
}

.visionMissionDiv {
	width: 100%;
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url('/images/pastormuyiwaVision.jpg');
	background-size: cover;	
    margin-bottom: 10px;
}

.visionMissionDiv p {
	color: white;
	padding: 20px;
}

#partnerSaga, #partnerSaga1 {
	text-align: center;
	font-weight: bold;
}
#partnerSaga1 {
   color: cadetblue;
}

.recommendedMessages img {
	width: 95%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #eeeeee;
	margin-left: 2.5%;
}

#firstMessageTitle {
    text-align: center;
    padding-top: 10px;
}

.recommendedMessages {
	width: 95%;
	margin-left: 2.5%;
	border: 1px solid #eeeeee;
	border-top: none;
	padding-bottom: 10px;
	padding-top: 10px;
}

.messageDiscription {
	margin-left: 2.5%;
}

.flexClassForDownloadMessages {
	margin-top: 10px;
	padding-top: 20px;
	margin-left: 2.5%;
	width: 95%;
	border: 1px solid #eeeeee;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
}

.flexClassForDownloadMessages div {
	width: 40%;
	margin-left: 6%;
}

.flexClassForDownloadMessages img {
	width: 100%;
}

#firstMessageTitle {
   padding: 10px;
}

.messageAdvert img {
    width: 80%;
    margin-left: 10%;
}

.messageAdvert {
	margin-bottom: 50px;
}

.downloadGroupTwo img {
	width: 80%;
	margin-left: 10%;
}

.downloadGroupTwo {
	margin-top: 40px;
}

.downloadGroupTwo p {
	color: white;
	margin-left: 10%;
}

.downloadGroupOne p {
	color: white;
	margin-left: 10%;
}

.lastForm {
   width: 95%;
   margin-left: 2.5%;
   margin-top: 10px;
   border: 1px solid #eeeeee;
   padding-top: 5px;
   padding-bottom: 10px;
   border-radius: 3px;
   margin-bottom: 10px;
   background-color: transparent;
}

.lastForm p {
	padding: 10px;
	padding-top: 0px;
	color: white;
}

.lastForm input, .lastForm textarea, .lastForm label {
	width: 95%;
	margin-bottom: 7px;
	border-radius: 3px;
	padding: 5px;
	margin-left: 2.5%;
	border: 1px solid #eeeeee;
	background-color: transparent;
	color: white;
}

.lastForm textarea {
	height: 150px;
}

.lastForm button {
	background-color: #203640;
	color: white;
	padding: 1px;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid orange;
	margin-bottom: 10px;
	border-radius: 5px;
	margin-left: 3%;
}

.lastForm label {
	border: none;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}