/* for 600px screen */

/* On screens that are 992px or less, set the background color to blue */
/*@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}*/

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .langingSection {
    	background-color: #203640;
    }

.landingCover {
	background-color: #203640;
	padding-top: 170px;
	padding-bottom: 400px;
}

#enterButton {
	width: 70px;
	border: 2px solid orange;
	color: white;
	text-align: center;
	margin: auto;
	padding-top: 24px;
	padding-bottom: 24px;
	border-radius: 50%;
}

.navigationRightSide {
	position: absolute;
	top: 80px;
	left: 20%;
	width: 80%;
}

.downloadMessagesMobile {
	background-color: white;
	width: 100%;
}

.downloadMessagesMobile form {
    border: 1px solid #eeeeee;
    border-bottom: none;
    margin-left: 2.5%;
	background-color: white;
	width: 95%;
}

.downloadMessagesMobile form h4{
    text-align: center;
	background-color: white;
	width: 95%;
	color: #203640;
}



.downloadMessagesMobile form input {
	margin-top: 10px;
	margin-left: 2.5%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	width: 95%;
	color: black;
}

.downloadMessagesMobile button {
	margin-left: 2.5%;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	background-color: #203640;
	color: white;
	border: 1px solid orange;
	border-radius: 5px;

}

.downloadMessageDynamic ul {
	display: none;
	padding-left: 2.5%;
}

.downloadMessageDynamic span {
	padding: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 7px;
	padding-right: 7px;
    color: white;
    background-color: #203640;
    border-radius: 5px;
    border: 1px solid orange;
}

.downloadMessageDynamic ul li{
	border-bottom: 1px solid #eeeeee;
	padding: 10px;
}

.largerContact {
	display: none;
}

.flexClassForDownloadMessages {
	display: none;
}

.partnersForm {
   width: 100%;
}

.footer {
	width: 95%;
	margin-left: 2.5%;
}

.partnersForm form{
   width: 95%;
}

.partnersForm form input, .partnerForm form select {
	 margin-left: 2.5%;
}

.partnersForm button {
	border: 1px solid orange;
	color: white;
	background-color: #203640;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	border-radius: 5px;
}

.lastForm {
   width: 95%;
   margin-left: 2.5%;
   margin-top: 10px;
   border: 1px solid #eeeeee;
   padding-top: 5px;
   padding-bottom: 10px;
   border-radius: 3px;
   margin-bottom: 10px;
   background-color: transparent;
}

.lastForm p {
	padding: 10px;
	padding-top: 0px;
	color: white;
}

.lastForm input, .lastForm textarea, .lastForm label {
	width: 95%;
	margin-bottom: 7px;
	border-radius: 3px;
	padding: 5px;
	margin-left: 2.5%;
	border: 1px solid #eeeeee;
	background-color: transparent;
	color: white;
}

.lastForm textarea {
	height: 150px;
}

.lastForm button {
	background-color: #203640;
	color: white;
	padding: 1px;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid orange;
	margin-bottom: 10px;
	border-radius: 5px;
	margin-left: 3%;
}

.lastForm label {
	border: none;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.downloadSection {
	display: none;
}

#navIcon{
	font-size: 25px;
}

.copyright {
	width: 95%;
	margin-left: 2.5%;
}
}