/* for 600px screen */

/* On screens that are 992px or less, set the background color to blue */
/*@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}*/

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .langingSection {
    	background-color: #235C75;
    }

.landingCover {
	background-color: #235C75;
	padding-top: 170px;
	padding-bottom: 400px;
}

#enterButton {
	width: 70px;
	border: 2px solid orange;
	color: white;
	text-align: center;
	margin: auto;
	padding-top: 24px;
	padding-bottom: 24px;
	border-radius: 50%;
}
}