<!DOCTYPE html>
	<head>
		<title>mami</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <base href="http://127.0.0.1:5000">
	</head>
	<body>
		 <div class="container">

		 	<div class="row">
		 		<div class="col-sm-3">
		 	  	 <ul>
			 	  	<li></li>
			 	  	<li></li>
			 	  	<li></li>
			 	  	<li></li>
			 	  	<li></li>
		 	     </ul>
		 	  </div>

		 	  <div class="col-sm-9">
		 	  	  <div class=""></div>
		 	  	  <div class=""></div>
		 	  	  <div class=""></div>
		 	  	  <div class=""></div>
		 	  	  <div class=""></div>
		 	  	  <div class=""></div>
		 	  </div>
		 	</div>
		 	<div class="row footer">
		 		 <div class="col-sm-6">
		 		 	<p>mami logo</p>
		 		 </div>
		 		 <div class="col-sm-3">
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul><br>
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul>
		 		 </div>
		 		 <div class='col-sm-3'>
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul><br>
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul>
		 		 </div>
		 	</div>
		 </div>
		 <script>
		 	
		 </script>
	</body>
</html>