<!DOCTYPE html>
	<head>
		<title>mami</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascript/jquery-3.2.1.min(first).js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <base href="http://127.0.0.1:5000">
        <link rel="stylesheet" href="/stylesheet/adminAuthentication.css">
        <link rel="stylesheet" href="/stylesheet/adminAuthentication1.css">
        <link rel="stylesheet" href="/stylesheet/footer.css">
	</head>
	<body>
		<div class="container-fluid" style="padding: 0px; margin: 0px;">
		<div class="parentCoverForAuthenticationSection">
			<div class="coverForAuthentication">
				<form action="/admin" id="dataCollection">
					 <div class="username">username</div>
				     <input type="text" value="username" id="username">
				     <div class="username">password</div>
				     <input type="password" value="password" id="password">
				     <button>enter!</button>
				</form>
			</div>
			<p id="unKnownUser">Ooops! You Are Not Authorized! <br>Please Contact Admin For Password</p>
		</div>
		 <div style="display: none;">
			<form action="/authenticateAdmin" id="goingOut" method="POST">
				
			</form>
		  </div>
			<div class="row footer" style="max-width: 100%;">
		 		 <div class="col-xs-6">
		 		 	<p>mami logo</p>
		 		 </div>
		 		 <div class="col-xs-3">
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul><br>
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul>
		 		 </div>
		 		 <div class='col-xs-3'>
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul><br>
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul>
		 		 </div>
		 	</div>
		 	<p id="copyright">copyright mami 2018</p>
		  </div>
	</div>
		<script type="text/javascript">
			$('#dataCollection').submit(function(event){
				console.log('Ajax was called');
				event.preventDefault();
				var password = document.getElementById('password').value;
				var username = document.getElementById('username').value;
				console.log(username);
				console.log(password);
                //callingAjaxHere(username, password);
                 $.ajax({
                          url: "/checkIfAdmin",
                          type: 'GET',
                          data: JSON.stringify({'password': password, 'username': username}),
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             if(data.message == 'true'){
                                 $('#goingOut').submit();
                             }else{
                             	$('#unKnownUser').show();
                             	setTimeout(function(){
                                 $('#unKnownUser').hide();
                             	}, 3000);
                             }
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                });
                return false;
			});

    /*  function callingAjaxHere(username, password){
      	         var xhttp = new XMLHttpRequest();
                 xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                       console.log(data);
                    }
                 };
                 
                 xhttp.open("GET", '/checkIfAdmin', true);
                 xhttp.setRequestHeader("Content-type", "application/json");
                 xhttp.send({'username': username, 'password': password});
      }*/
		</script>
	</body>
</html>