<!DOCTYPE html>
	<head>
		<title>mami</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/javascript/jquery-3.2.1.min(first).js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <base href="http://127.0.0.1:5000">
        <link rel="stylesheet" href="/stylesheet/admin.css">
        <link rel="stylesheet" href="/stylesheet/admin1.css">
        <link rel="stylesheet" href="/stylesheet/footer.css">
	</head>
	<body>
		 <div class="container-fluid parentCover">

		 	<div class="row">
		 	  <div class="col-sm-3 mainNav">
		 	  	 <ul>
		 	  	 	<li style="border-radius: 5px;background-color: black; border: 1px solid orange; padding: 5px; padding-left: 10px; margin-top: 5px;">Admin Page</li>
			 	  	<li><a href="/homepage">Homepage</a></li>
			 	  	<li><a href="/livestream">LiveStream</a></li>
		 	     </ul>
		 	  </div>

		 	  <div class="col-sm-9 mainBody">
		 	  	    <button id="firstButton">admin page</button>
		 	  	  	<div class="coverForSubSections">
		 	  	  		<form action="" method="post" id="landingSectionForm1">
		 	  	  		      <label for="" class="landingSectionClass">Landing Section</label><br>
		 	  	  		      <input type="text" class="landingSection" value="mami" id="mami"><br>
		 	  	  		      <input type="text" class="landingSection" value="Enlighteen Citizens of Gods Kingdom" id="Enlighteened"><br>
                      <p class="successMessage">updated successfully!!</p>
		 	  	  		      <button>submit</button>
                </form>
		 	  	  	</div>
		 	  	  		<hr class="horizontalRule">
		 	  	    <div class="coverForSubSections">
		 	  	    	 <form action="" method="POST" id="landingSectionForm2">
		 	  	  		      <label for="" class="landingSectionClass">Replace Video Content</label>
		 	  	  		      <input type="file" class="landingSection" id="replaceVideo">
                      <p class="successMessage">uploaded successfully!!!</p>
		 	  	  		      <button>submit</button>
		 	  	  	     </form>
		 	  	    </div>
		 	  	  	
		 	  	  	<br>
		 	  	  	<div class="coverForSubSections">
		 	  	  		<form action="POST" id="landingSectionForm3">
		 	  	  			 <p class="landingSectionClass">Embed Video For LiveStreaming Section!</p>
		 	  	  		     <input type="file" class="landingSection" id="videoForLifeStream">
                     <p class="successMessage">uploaded succesfully!!!</p>
		 	  	  		     <button>Submit</button>
		 	  	  		</form>
		 	  	  		 
		 	  	  	</div>
		 	  	  	<br>

		 	  	  	<div id="ministryPlatForm">
		 	  	  		<div class="coverForSubSections">
		 	  	  			<form action="" id="landingSectionForm4">
		 	  	  				<input type="text" value="Freedom ON AIR" class="landingSection" id="freedomon"><br>
		 	  	  		    <textarea name="" class="aboutMami" id="freedomonair">Freedom on Air is our Radio and Video platform through which we take the gospel of our Lord Jesus into the homes of millions and hundreds of thousands that we naturally may not have been privileged to see or meet physically.This platform empowers MAMI to reach more souls with the message of freedom.</textarea><br>

		 	  	  		<input type="text" class="landingSection" value="TV, RADIO, FACEBOOK, YOUTUBE." id="freedomonairsub"><br>
                <p class="successMessage">updated successfully!!!</p>
		 	  	  		<button>submit</button><br>
		 	  	  			</form>
		 	  	  		</div><br><br>

		 	  	  		<div class="coverForSubSections">
		 	  	  			<form action="" id="landingSectionForm5">
		 	  	  				<input type="text" class="landingSection" value="LOVE CHOICES AND OTHER BEAUTIFUL WORDS" id="lovechoices"><br>
		 	  	  		<textarea name="" class="aboutMami" id="lovechoicesdiscription">A passion in our heart is the establishment of God’s Children in Godly relationships that will eventually translate to model homes. It’s on the strength of this platform that we minister to singles and equip them with sound knowledge of God’s Word for choices, working out relationships and knowing when to walk out and start over if need be.
                                 We believe happily ever after begins with choices made from the start of dating. We hope to see you in one of our meetings.</textarea><br>
                                 <p class="successMessage">updated succesfully!!!</p>
                                 <button>submit</button><br>
		 	  	  			</form>
		 	  	  		</div><br>
		 	  	  		<div class="coverForSubSections">
		 	  	  			<form action="" id="landingSectionForm6">
		 	  	  				<input type="text" class="landingSection" value="MINISTERS IN TRAINING (MIT)" id="ministersin"><br>
		 	  	  		    <textarea name="" class="aboutMami" id="ministersindes">A core conviction in our hearts born out of understanding of God’s Word is that it is God’s responsibility to call a man but the man must endeavour to fulfil his call and ministry. MIT is a mentoring platform for Pastors, those in HELPS MINISTRY, ITINERANT TEACHER to help fulfilling the call of God and to minimize casualties and mistakes in the fulfilment of destiny.
                                 The platform holds its meetings 6 times in a year. Venues are communicated to registered members of MIT. Please feel free to register here.</textarea><br>
                                 <p class="successMessage">updated successfully!!!</p>
                                 <button>submit</button><br>
		 	  	  			</form>
		 	  	  		</div><br>
		 	  	  		<div class="coverForSubSections">
		 	  	  			<form action="" id="landingSectionForm7">
		 	  	  				 <input type="text" class="landingSection" value="FREEDOM MINISTRY ACADEMY (FMA)" id="freedomministry"><br>
		 	  	  		     <textarea name="" class="aboutMami" id="freedomministrydes">A very crucial part of preparation for ministry is a proper, structured, disciplined environment of learning where teaching, training and equipping can be done. FMA is God ordained for this purpose. It is a once in a year ACADEMY that runs for 7 weekends with proper graduation and certification.
                                 It is an intense boot camp where doctrines are set forth and wisdom is poured out.
                                 FMA usually provides the door way into MIT. Graduates are encouraged to proceed to Ministers in Training for further mentorship and establishment.</textarea><br>
                                 <p class="successMessage">updated successfully!!!</p>
                                 <button>submit</button><br>
		 	  	  			</form>
		 	  	  		</div><br>
		 	  	  		<div class="coverForSubSections">
		 	  	  			<form action="" id="landingSectionForm8">
		 	  	  				<input type="text" class="landingSection" value="PUBLISHING ARM (FREEDOM CHRONICLES)" id="publishingarm">
		 	  	  		    <textarea name="" class="aboutMami" id="publishingarmdiscription">This is the publishing arm of MAMI. We are saddled with an awesome responsibility to extend the message of freedom that Christ purchased for us through the printed media.
                                 We do not just publish; we see to the distribution of these power packed materials to the nations.
                                 Most of our publications are available in hard and soft copies for easier distribution. 
                                 You can subscribe for our magazine</textarea><br>
                                 <p class="successMessage">updated successfully!!!</p>
                            <button>submit</button><br>
		 	  	  			</form>
		 	  	  		</div><br>
		 	  	  		
		 	  	  		<div class="coverForSubSections">
		 	  	  			 <form action="" id="landingSectionForm9">
		 	  	  			 	  <input type="text" class="landingSection" value="REVIVE MINISTRY CAMP (RMC)" id="reviveministry"><br>
		 	  	  		<textarea name="" class="aboutMami" id="reviveministrydiscription">
		 	  	  			Revive Ministry Camp is our yearly camp meetings with ministry in focus. It is usually a time of deep encounters with God; an unusual season of birthing forth God’s will on earth through intense teachings, the labour room of prayers, powerful impartation of the Spirit and a place of destiny.
                                 It’s usually a place of refuelling, where fresh oil is injected into wheels of ministry. Make plans to attend this year’s RMC.
		 	  	  		</textarea><br>
                <p class="successMessage">updated successfully!!!</p>
		 	  	  		<button>submit</button>
		 	  	  			 </form>
		 	  	  		</div>
		 	  	  	</div>
		 	  	    <br>
		 	  	  	<div class="coverForSubSections">
		 	  	  		<form action="" method="post" action="" id="visionStatement" class="landingSectionForm10">
		 	  	  			<input type="text" class="landingSection" value="PARTNERSHIP WITH MAMI" id="mamipartners"><br>
		 	  	  			<input type="text" value="Who is a MAMI partner" class="landingSection" id="mamipartnersub"><br>
		 	  	  			<textarea name="" class="aboutMami" id="mamipartnerdisc">A MAMI partner is someone that partners with MAMI financially in other that MAMI will be able to perform her assignment of taking the Gospel to the ends of the earth.

A MAMI partner is also someone thats is committed to praying for MAMMI and Pastor Muyiwa, in that the ministry of Christ prospers in his hands as God ordained it.

If you are not a partner already clic on the partnership button below and fill the form that follows</textarea><br>
<p class="successMessage">updated successfully!!!</p>
<button>submit</button>
		 	  	  		</form>
		 	  	  	</div>
<hr>
<div class="coverForSubSections">
	<form action="" id="landingSectionForm11">
	      <input type="text" class="landingSection" value="online payment" id="onlinepayment">
	      <input type="text" class="landingSection" value="paypal" id="onlinepaymentone">
	      <input type="text" class="landingSection" value="Skrill" id="onlinepaymenttwo"><br>
        <p class="successMessage">updated successfully!!!</p>
	      <button>submit</button>
	</form>
</div><br>
<div class="coverForSubSections">
  <form action="" id="landingSectionForm12">
        <input type="file" class="landingSection" id="visionBackgroundPicture">
        <textarea name="" class="aboutMami" id="visionSte">–Taking the message of FREEDOM to the nations, stressing with simplicity and clarity the liberty of believers in Christ and raising other freedom agents across the globe.</textarea>
        <button>submit</button>
  </form>
</div><br>

	<div class="coverForSubSections">
		<p class="landingSectionClass" style="font-weight: bold;">Advert For Pastors message</p>
		  <form action="" id="landingSectionForm13">
		   <p class="changePicture">First Picture</p>
		   <input type="file" class="landingSection" id="firstfile">
		   <p class="changePicture">Second Picture</p>
		   <input type="file" class="landingSection" id="secondfile">
		   <p class="changePicture">Third Picture</p>
		   <input type="file" class="landingSection" id="thirdfile">
		   <p class="changePicture">Fouth Picture</p>
		   <input type="file" class="landingSection" id="fouthfile">
       <p class="successMessage">uploaded successfully!!!</p>
		   <button>submit</button>
	    </form>
	</div><br>
</div>
</div>
</div>
		 <p id="copyright">copyright mami 2018</p>
		 </div>
		 <script type="text/javascript">
		 	   // do this things immidiately after the document is ready!
		 	   $('document').ready(function(event){
                    $.ajax({
                          url: "/gettingAdminContent",
                          type: 'GET',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });

		 	  });

		 	   $('#landingSectionForm1').submit(function(event){
		 	   	     event.preventDefault();
                     var firstData = document.getElementById('mami').value;
                     var secondData = document.getElementById('Enlighteened').value
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'landingSection', 
                                                'firstData': firstData,
                                                'secondData': secondData
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             document.getElementsByClassName('successMessage')[0].style.display = 'block';
                             setTimeout(function(){
                                document.getElementsByClassName('successMessage')[0].style.display = 'none';
                             }, 3000);
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm2').submit(function(event){
		 	   	     event.preventDefault();
               var replaceVideo = document.getElementById('replaceVideo').files[0].name;
               console.log('see if console');
               console.log(replaceVideo);
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'replaceIntroductionVideo',
                                                'firstData': replaceVideo}),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             $('.').show();
                             setTimeout(function(){
                                $('.').hide();
                             }, 3000);
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm3').submit(function(event){
		 	   	     event.preventDefault();
               var videoForLifeStream = document.getElementById('videoForLifeStream').files[0].name;
               console.log(videoForLifeStream);
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'videoForLifeStream',
                                                'firstData': videoForLifeStream
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             $('.').show();
                             setTimeout(function(){
                                $('.').hide();
                             }, 3000);
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm4').submit(function(event){
		 	   	     event.preventDefault();
               var freedomon = document.getElementById('freedomon').value;
               var freedomonair = document.getElementById('freedomonair').value;
               var freedomonairsub = document.getElementById('freedomonairsub').value;
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'freedomonair',
                                                'firstData': freedomon, 
                                                'secondData': freedomonair,
                                                'thirdData': freedomonairsub
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm5').submit(function(event){
		 	   	     event.preventDefault();
               var firstData = document.getElementById('lovechoices').value;
               var secondData = document.getElementById('lovechoicesdiscription').value;
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'LoveChoices',
                                                'firstData': firstData,
                                                'secondData': secondData
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm6').submit(function(event){
		 	   	     event.preventDefault();
               var firstData = document.getElementById('ministersin').value;
               var secondData = document.getElementById('ministersindes').value;
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'ministersin',
                                                'firstData': firstData,
                                                'secondData': secondData
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm7').submit(function(event){
		 	   	     event.preventDefault();
               var firstData = document.getElementById('freedomministry').value;
               var secondData = document.getElementById('freedomministrydes').value;
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'freedomministry',
                                                'firstData': firstData,
                                                'secondData': secondData}),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm8').submit(function(event){
		 	   	     event.preventDefault();
               var firstData = document.getElementById('publishingarm').value;
               var secondData = document.getElementById('publishingarmdiscription').value;
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'publishingarm', 
                                                'firstData': firstData,
                                                'secondData': secondData
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm9').submit(function(event){
		 	   	     event.preventDefault();
               var firstData = document.getElementById('reviveministry').value;
               var secondData = document.getElementById('reviveministrydiscription').value;
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'reviveministry',
                                                'firstData': firstData,
                                                'secondData': secondData
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('.landingSectionForm10').submit(function(event){
		 	   	     event.preventDefault();
               var firstData = document.getElementById('mamipartners').value;
               var secondData = document.getElementById('mamipartnersub').value;
               var thirdData = document.getElementById('mamipartnerdisc').value;
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'mamipartners',
                                                'firstData': firstData,
                                                'secondData': secondData,
                                                'thirdData': thirdData
                                                }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm11').submit(function(event){
		 	   	     event.preventDefault();
               var firstData = document.getElementById('onlinepaymentone').value;
               var secondData = document.getElementById('onlinepaymenttwo').value;
              
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'onlinepayment',
                                                'firstData': firstData,
                                                'secondData': secondData
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

		 	   $('#landingSectionForm12').submit(function(event){
		 	   	     event.preventDefault();
               var firstData = document.getElementById('visionBackgroundPicture').files[0].name;
               var secondData = document.getElementById('visionSte').value;
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'visionarea',
                                                'firstData': firstData,
                                                'secondData': secondData
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
		 	   });

         $('#landingSectionForm13').submit(function(event){
               event.preventDefault();
               var firstData = document.getElementById('firstfile').files[0].name;
               var secondData = document.getElementById('secondfile').files[0].name;
               var thirdData = document.getElementById('thirdfile').files[0].name;
               var fouthData = document.getElementById('fouthfile').files[0].name;
                     $.ajax({
                          url: "/mamiupdate",
                          data: JSON.stringify({'message': 'messageAdvertSection',
                                                'firstData': firstData,
                                                'secondData': secondData,
                                                'thirdData': thirdData,
                                                'fouthData': fouthData,
                                              }),
                          type: 'POST',
                          crossDomain: true,
                          async: true,
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          processData: false,
                          success: function (data) {
                             console.log(data);
                             //update the whole page!
                          },
                          error: function(data){
                              alert("Check D Server! : 127.0.0.1:5000");
                          }
                    });
                    return false;
         });
		 </script>
	</body>
</html>