<!DOCTYPE html>
	<head>
		<title>mami</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/javajcript/jquery-3.2.1.min(first).js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <base href="http://127.0.0.1:5000">
        <link rel="stylesheet" href="/stylesheet/homepage.css">
        <link rel="stylesheet" href="/stylesheet/homepage1.css">
        <link rel="stylesheet" href="/stylesheet/footer.css">
        <base href="http://127.0.0.1:5000">
	</head>
	<body>
		 <div class="container-fluid" style="padding: 0px; margin: 0px;">
		 	   <div class="langingSection">
		 	   	      <i class="fa fa-bars"></i>
		 	   	      <h1 id="titleMami">MAMI</h1><br>
		 	   	      <h3>Enlighteened citizens of Gods kingdom</h3>
		 	   </div>
               <div class="aboutSection">
               	      <div>
               	      	  <img src="/image/pastormuyiwa.jpg" alt="">
               	      </div><br>
                      <video src="/video/introductionVideos.ogv" id="videoIntroduction"></video>
               </div>
                <div class="row">
                     <div class="col-sm-6 listofministries">
                        <ul>
                            <li>item one</li>
                            <li>item two</li>
                            <li>item three</li>
                            <li>item four</li>
                            <li>item five</li>
                            <li>item six</li>
                            <li>item seven</li>
                            <li>item eight</li>
                            <li>item nine</li>
                        </ul>
                     </div>
                     <div class="col-sm-6">
                        <img src="/image/aboutSectionGif.gif" alt="">
                     </div>
               </div>
               <div class="row">
               	   <div class="col-sm-6 firstEvent">
               	   	   <img src="/images/event.jpg" alt="">
               	   	   <p>further Discription of the Event can be here further Discription of the Event can be here further Discription of the Event can be here</p>
               	   </div>
               	   <div class="col-sm-6 secondEvent">
               	   	   <img src="/images/event3.jpg" alt="">
               	   	   <p>further Discription of the Event can be here further Discription of the Event can be here further Discription of the Event can be here</p>
               	   </div>
               </div>

               <div class="row">
               	   <div class="col-sm-6 thirdEvent">
               	   	   <img src="/images/event11.jpg" alt="">
               	   	   <p>further Discription of the Event can be here further Discription of the Event can be here further Discription of the Event can be here</p>
               	   </div>
               	   <div class="col-sm-6 fouthEvent">
               	   	   <img src="/images/event8.jpg" alt="">
               	   	    <p>further Discription of the Event can be here further Discription of the Event can be here further Discription of the Event can be here</p>
               	   </div>
               </div>
		 	   <div class="landingCover">
		 	   	   <p id="enterButton">enter</p>
		 	   	   <p id="entercaption">Enlighteened Citizens of Gods Kingdom</p>
		 	   </div>

		 	   <div class="row congratulationsMessage">
			 	   	<div class="col-lg-10 mainCongratesMessage">
			 	   		 <h1>Congratulations</h1><br>
			 	   		 <h3>Olatunji Odelade</h3>
			 	   	     <p>thanks for indicating your interest and commitment to partner with us</p><br>
			 	   	     <p>we just sent an email to you to extend our regards/appreciation, hence forth <br>we will be sending you news letters for update of what is happening in MAMI</p><br>
			 	   	     <p>At last we are together taking the Gospel of Christ to the ends of the earth! <br>this is made possible by your partnership seed!</p>
			 	   	     <p>your seed sown is greatly blessed and God increase the fruit of your righteousness</p><br><br>
			 	   	     <p>Pastor Muyiwa Areo</p>
			 	   	     <button>continue</button>
			 	   	</div>
			 	   	<div class="col-lg-2 invisibleSection">
			 	   		<p>make this section invisible</p>
			 	   	</div>
		 	   </div>
               <div class="navigationRightSide">
               	    <ul>
               	    	<li><a href="">LiveStream</a></li>
               	    	<li><a href="">Admin</a></li>
               	    	<li>About MAMI</li>
               	    	<li>PartnerShip</li>
               	    	<li>Vision</li>
               	    	<li>Mission</li>
                      <li></li>
               	    </ul>
               </div>
                    <div class="largerContact">
                      <h3>Contact Us</h3>
                         <div class="contactForm">
                              <form action="" name="contactForm">
                                 <label for="contactForm">Drop your message</label><br>
                                 <input type="text" value="fullname"><br>
                                 <input type="email" value="yourEmail@something.com"><br>
                                 <textarea name="" id="" style="">please enter your request</textarea><br>
                                 <button>submit</button>
                             </form>
                         </div>
                   
                    </div>
              
              <div class="smallerContact">
              	<form action="" name="contactForm1">
              	   <label for="contactForm">Contact Us</label>
              	   <input type="text" value="fullname">
              	   <input type="email" value="yourEmail@something.com">
              	   <textarea name="" id="" style="">please enter your request</textarea>
              	</form>
              </div>
          
		      <div class="row footer">
		          <div class="col-xs-6">
		 		        	<p>mami logo</p>
		 	      </div>
		 		 <div class="col-xs-3">
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul><br>
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul>
		 		 </div>
		 		 <div class='col-xs-3'>
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul><br>
		 		 	<ul>
		 		 		<li>monday</li>
		 		 		<li>tuesday</li>
		 		 		<li>wednesday</li>
		 		 		<li>thursday</li>
		 		 		<li>friday</li>
		 		 	</ul>
		 		 </div>
		      </div>
		      <div class="copyright">
		      	 <p>copyright mami 2018</p>
		      </div>
		 </div>
	</body>
</html>